{% extends 'layout.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">

      <div class="container">

	<h2 style="text-align: center" >31st Conference on <br>
	  Head-Driven Phrase Structure Grammar
	<br>First Call for Papers</h2>

<h3>Submission Deadline: 15-March-2024</h3>

<p>The 31st International Conference on
Head-Driven Phrase Structure Grammar will be held on 8 July - 10 July
2024 at the Palacký University Olomouc, Czech Republic. Abstracts
are invited that address linguistic, foundational, or computational
issues relating to or in the spirit of the framework of Head-Driven
Phrase Structure Grammar.</p>

<h3>Conference Format</h3>
<p>The HPSG 2024 conference will be a
  two-day main conference (9 July - 10 July), preceded by a one-day
  (8 July) workshop on <i>Formal Approaches to Under-resourced
Languages</i> which will be announced separately.</p>
<p><br/>

</p>
<h3>Invited speakers</h3>
<p>    <ul>
      <li><i>Implementing a theory at scale: the English Resource
      Grammar at 30</i>,  Dan Flickinger
      <li>TBA
    </ul>
</p>

<h3>Submissions</h3>
<p>We invite anonymous submissions to the main HPSG Conference: Papers
(extend abstracts) should be 4 pages long, + 1 page for data, figures
&amp; references. They should be submitted in PDF format. The
submissions should not include the authors’ names, and authors are
asked to avoid self-references. All abstracts should be submitted via
Easychair:</p>
<p><a href="https://easychair.org/conferences/?conf=hpsg2024" target="_blank"><font color="#1155cc">https://easychair.org/conferences/?conf=hpsg2024</font></a></p>

	<p>All abstracts will be reviewed anonymously by at least two
reviewers. Accepted papers are expected to give a 30-minute
presentation. Additionally, 10 minutes are reserved for discussion. A
call for contributions to the proceedings will be issued after the
Conference. Proceedings of previous conferences are available
at:&nbsp;<a href="https://proceedings.hpsg.xyz/"
	    target="_blank"><font color="#1155cc">https://proceedings.hpsg.xyz/</font></a>.
	</p>
	
<h3>Important Dates</h3>
<p>
<table>
  <tr>
    <td>Abstract submission deadline</td>
    <td>15 March 2024</td>
    <td>(anywhere on Earth)</td>
  </tr>
  <tr>
    <td>Notifications of acceptance</td>
    <td>19 April 2024</td>
  </tr>
  <tr>
    <td>Conference proceedings submission</td>
    <td>15 October 2024</td>
  </tr>
</table>
</p>
	<h3>Venue</h3>
	<p>The HPSG 2024 Conference will take
	  place at Palacký University Olomouc, Czech Republic.
	  Online access for the sessions and asynchronous discussion will be facilitated for those who will not be able to attend in person.
	</p>
	<p>The conference
	  website is at: <a href='https://bond-lab.github.io/2024-hpsg/index.html'>https://bond-lab.github.io/2024-hpsg/index.html</a></p>

	<h3>Program Committee Chair</h3>
	<p>Rui Chaves (University at Buffalo)</p>


	<h3>Local Organizing Committee Chairs</h3>
	<ul>
	  <li>Francis Bond (Palacký University, Olomouc)
	  <li>Joanna Sio (Palacký University, Olomouc)
	</ul>


	<h3>Contact information</h3>
	<p>For general questions, please contact
	  the Program Chair Rui Chaves (<a href="mailto:hpsg2024@easychair.org" target="_blank">hpsg2024@easychair.org</a>).

	<p>For questions about the logistics of the conference, please contact
	  the local organizers, Francis and Joanna.</p>
      
    </div>
{% endblock %}

