{% extends 'layout.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">

      <div class="container">

<h2>Head-Driven Phrase Structure Grammar</h2>

<p>HPSG is a well-developed, precisely formalized theory of grammar whose 
architecture is based on the notion of constraint satisfaction. 
Linguistic objects are modeled as feature structures organized via a 
system of types and constraint inheritance, drawing key insights from 
research in object-oriented paradigms. The HPSG community values 
explicit, large-scale grammar development and explores psycholinguistic 
models, as well as the development of efficient computational systems 
for processing natural languages using HPSG grammars.



<p>For more information about HPSG:<BR>
<UL>
<li><a href="https://en.wikipedia.org/wiki/Head-driven_phrase_structure_grammar">Wikipedia</a>
<li><a href="http://www.ling.ohio-state.edu/research/hpsg/index.html">http://www.ling.ohio-state.edu/research/hpsg/</a>
<li><a href="http://www.sfs.uni-tuebingen.de/hpsg/">http://www.sfs.uni-tuebingen.de/hpsg/</a>
</ul>


<br>

<h2>Previous meetings</h2>

<p><b>Recent HPSG conferences:</b>
  <br>
<ul>

  <li>2023 -  <a href="https://www.acsu.buffalo.edu/~fabiolah/hpsg23/index.html/">30th International Conference on Head-Driven Phrase Structure Grammar</a>,  University of Massachusetts Amherst.

<li>2022 - <a href="https://hpsg2022.github.io/">29th International Conference on Head-Driven Phrase Structure Grammar</a>, online.

<li>2021 - <a href="https://blog.studiumdigitale.uni-frankfurt.de/hpsg21/">28th International Conference on Head-Driven Phrase Structure Grammar</a>, online.

<li>2020 - <a href="https://hpsg.hu-berlin.de/hpsg2020/">27th International Conference on Head-Driven Phrase Structure Grammar</a>, online.

<li>2019 - <a href="https://conferences.unibuc.ro/hpsg2019/">26th International Conference on Head-Driven Phrase Structure Grammar</a>, Bucharest, Romania.

<li>2018 - <a href="http://phiz.c.u-tokyo.ac.jp/~hpsg2018/">25th International Conference on Head-Driven Phrase Structure Grammar</a>, Tokyo, Japan.

<li>2017 - <a href="https://hpsg.uky.edu">24th International Conference on Head-Driven Phrase Structure Grammar</a>, Lexington, USA.

<li>2016 - <a href="http://headlex16.ipipan.waw.pl">Joint 2016 Conference on Head-driven Phrase Structure Grammar and Lexical Functional Grammar</a>, Warsaw, Poland.

<li>2015 - <a href="http://compling.hss.ntu.edu.sg/events/2015-hpsg/">22nd International Conference on Head-Driven Phrase Structure Grammar</a>, Singapore.

</ul>

<p>For more information about previous HPSG conferences see
<a 
href="http://www.essex.ac.uk/linguistics/external/HPSG/index.html">here</a>.</p>

  
      </div>


      
    </div>
{% endblock %}
