{% extends 'layout.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">

      <div class="container">

	<h2>31st Conference on Head-Driven Phrase Structure Grammar<br>HPSG 2024</h2>

	
	<p>Location: Palacký University

	<p>Dates: July 09&ndash;10, 2024

	<p>Program Chair: Rui Chaves
  
      </div>
  
<p>The conference will be preceded by the <i><a href='{{ url_for('show', page='workshop') }}'>Workshop on Formal Approaches to Under-resourced
Languages</a></i>
<h3>Important Dates</h3>
<p>
<table>
  <tr>
    <td>Abstract submission deadline</td>
    <td>15 March 2024</td>
    <td>(anywhere on Earth)</td>
  </tr>
  <tr>
    <td>Notifications of acceptance</td>
    <td>19 April 2024</p></td>
  </tr>
  <tr>
    <td>Conference proceedings submission</td>
    <td>15 October 2024</td>
  </tr>
</table>
</p>
    

    <h3>Invited Talks</h3>

    <p><ul>
      <li><i>Implementing a theory at scale: the English Resource
      Grammar at 30</i>,  Dan Flickinger
      <li><i>Empirical Arguments for a Universal Head Final Ordering in Morphosyntax</i>, Joseph Edmonds
    </ul></p>

    
      
    </div>
{% endblock %}
