{% extends 'layout.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">

      <div class="container" align='center'>

	<h2>31st Conference on <br>
	  Head-Driven Phrase Structure Grammar<br>HPSG 2024</h2>

	
	<p>Location: Palacký University

	<p>Dates: July 09&ndash;10, 2024

	<p>Program Chair: Rui Chaves
  
      </div>
  
<p>The conference will be preceded by the <i><a href='{{ url_for('show', page='workshop') }}'>Workshop on Formal Approaches to Under-resourced
Languages</a></i>
<h3>Important Dates</h3>
<p>
<table>
  <tr>
    <td>Abstract submission deadline</td>
    <td><s>22nd March 2024</s></td>
  </tr>
  <tr>
    <td>Notification of acceptance</td>
    <td>26 April 2024  <strong>extended</strong></td> 
  </tr>
  <tr>
    <td>Conference proceedings submission</td>
    <td>15 October 2024</td>
  </tr>
</table>
</p>
    

    <h3>Invited Talk</h3>

    <p><ul>
      <li><i>Implementing a theory at scale: the English Resource
      Grammar at 30</i>,  Dan Flickinger
    </ul></p>

    <h3>Program Committee</h3>
    <ul>
      <li> Andy Lücking (Goethe University Frankfurt)
      <li> Anke Holler (University of Göttingen)
      <li> Anne Abeillé  (Université Paris Cité)
      <li> Anthony R. Davis (Southern Oregon University)
      <li> Berthold Crysmann (CNRS - LLF & Université Paris Cité)
      <li> David Yoshikazu Oshima (Nagoya University)
      <li> Felix Bildhauer (Institut für Deutsche Sprache)
      <li> Francis Bond (Palacký University, Olomouc)
      <li> Frank Richter (Goethe-University Frankfurt a.M.)
      <li> Gerald Penn (University of Toronto)
      <li> Jakob Maché (University of Lisbon)
      <li> Jean-Pierre Koenig (University at Buffalo, SUNY)
      <li> Jong-Bok Kim (Kyung Hee University)
      <li> Manfred Sailer (Goethe-University Frankfurt a.M.)
      <li> Nurit Melnik (The Open University of Israel)
      <li> Olga Zamaraeva (University of A Coruña)
      <li> Olivier Bonami (Université Paris Cité)
      <li> Petya Osenova (Sofia University and IICT-BAS)
      <li> Rainer Osswald (Heinrich-Heine-Universität Düsseldorf)
      <li> Stefan Müller (Humboldt Universität zu Berlin)
      <li> Yusuke Kubota (National Institute for Japanese Language and Linguistics)
    </ul> 
      
    </div>
{% endblock %}
