{% extends 'layout.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">

      <div class="container">

	<h2>31st Conference on Head-Driven Phrase Structure Grammar<br>HPSG 2024</h2>

	
	<p>Location: Palacký University

	<p>Dates: July 09&ndash;10, 2024

	<p>Program Chair: Rui Chaves
  
      </div>

<p>The conference will be preceded by the <i><a href='{{ url_for('show', page='workshop') }}'>Workshop on Formal Approaches to Under-resourced
Languages</a>
      
      
    </div>
{% endblock %}
