{% extends 'layout.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">

      <div class="container">

	<h2>31st Conference on Head-Driven Phrase Stucture Grammar</h2>


	<p>The meeting will take place on campus of Palacký University.

	<p>The two closest major airports are Prague and Vienna. There is a <a href='https://sinofon.cz/practical-information/#visiting'>detailed guide to get to Olomouc from the Sinofon Project</a>.


	  <p>Wifi at the venue
Access to eduroam is available. Palacký University belongs to the eduroam initiative and, therefore, enables users of any organization affiliated with the eduroam initiative to access its wireless network. The visiting user must use the eduroam SSID. Before coming and using the wireless network, we recommend that you check that your organization belongs to the eduroam initiative and that you have configured the service on your device.

	  <p>There is a <a href='https://sinofon.cz/practical-information/#accomodation'>detailed guide to accommodation in Olomouc from the Sinofon Project</a>.
  
      </div>


      
    </div>
{% endblock %}
