{% extends 'layout.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">

      <div class="container">

	<h2>Local Information</h2>

	<p>We are looking forward to seeing you in Olomouc!
	

	<p>The meeting will take place at the <a href='https://uc.upol.cz/en/history/corpus-christi-chapel/'>Corpus Christi Chapel</a>
	  in the <a href='https://uc.upol.cz/en/'>Arts Center</a>, Palacký University.

	<p>The address is: <a  href= 'https://maps.app.goo.gl/pk3HUWTmwKbsV9f1A'> Univerzitní 225/3, 779 00 Olomouc 9, Czechia</a>

	<p>You enter the main door, into a tunnel.  Immediately turn
	left and go up some stairs.  The chapel is at the end of the
	corridor.   It will be sign posted.

 <img class="img-fluid" alt="Door to the Arts Center" src="{{ url_for('static', filename='img/umelecke-centrum-up-000.jpg') }}">

 
	  <h2>Getting to Olomouc</h2>
	  
	<p>The two closest major airports are Prague and Vienna. There is a <a href='https://sinofon.cz/practical-information/#visiting'>detailed guide to get to Olomouc from the Sinofon Project</a>.

	  <h2>Other Information</h2>
	  
	  <p>WIFI: 
Access to eduroam is available. Palacký University belongs to the eduroam initiative and, therefore, enables users of any organization affiliated with the eduroam initiative to access its wireless network. The visiting user must use the eduroam SSID. Before coming and using the wireless network, we recommend that you check that your organization belongs to the eduroam initiative and that you have configured the service on your device.

	  <p>We can also give access to a guest account if you don't have eduroam.
	    
	  <p>There is a <a href='https://sinofon.cz/practical-information/#accomodation'>detailed guide to accommodation in Olomouc from the Sinofon Project</a>.
  
      </div>


      
    </div>
{% endblock %}
