{% extends 'layout.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">

      <div class="container" align='center'>

	<h2>Program for HPSG 2024 and FAUL</h2>
      </div>


<table class="table table-hover w-auto">
  <thead>
    <tr>
      <th>Day</th><th>Time</th><th>Content</th>
    </tr>
  <thead>
    <tbody>
      <tr> <th>Monday (8 July)</th></tr>
      <tr>
	<td></td><td>13:15-14:30</td>
	<td><a href='#sessionO'>Opening Session</a> (Keynote)</td>
      </tr>
      <tr>
	<td></td><td>14:30-15:00</td>
	<td>Coffee Break</td>
      </tr>
  	<td></td><td>15:00-17:00</td>
	<td><a href='#sessionW'>Workshop Session<a/></td>
</tr>
      </tr>
  	<td></td><td>19:00-</td>
	<td>Social &mdash; drinks at <a href='https://letnikinoolomouc.cz/'>Letni Kino</a> (self pay) </td>
</tr>
      <tr> <th>Tuesday (9 July)</th></tr>
      <tr>
	<td></td><td>09:00-09:15</td>
	<td>Morning Coffee (no snacks)</td>
      </tr>
      <tr>
	<td></td><td>09:15-10:50</td>
	<td><a href='#session1'>Session 1</a></td>
      </tr>
      <tr>
	<td></td><td>10:50-11:10</td>
	<td>Morning Coffee (with snacks)</td>
      </tr>
     <tr>
	<td></td><td>11:10-12:30</td>
	<td><a href='#session2'>Session 2</a></td>
      </tr>
      <tr>
	<td></td><td>12:30-14:00</td>
	<td>Lunch</td>
      </tr>
     <tr>
	<td></td><td>14:00-15:00</td>
	<td><a href='#session3'>Session 3</a> (Keynote)</td>
      </tr>
      <tr>
	<td></td><td>15:00-15:20</td>
	<td>Afternoon Coffee (with snacks)</td>
      </tr>
     <tr>
	<td></td><td>15:20-17:00</td>
	<td><a href='#session4'>Session 4</a></td>
     </tr>
     <tr>
	<td></td><td>15:20-17:00</td>
	<td>Social &mdash; Dinner </td>
     </tr>
    <tr> <th>Wednesday (10 July)</th></tr>
      <tr>
	<td></td><td>09:15-09:30</td>
	<td>Morning Coffee (no snacks)</td>
      </tr>
      <tr>
	<td></td><td>09:30-10:50</td>
	<td><a href='#session5'>Session 5</a></td>
      </tr>
      <tr>
	<td></td><td>10:50-11:10</td>
	<td>Morning Coffee (with snacks)</td>
      </tr>
     <tr>
	<td></td><td>11:10-12:30</td>
	<td><a href='#session6'>Session 6</a></td>
      </tr>
      <tr>
	<td></td><td>12:30-14:00</td>
	<td>Lunch</td>
      </tr>
     <tr>
	<td></td><td>14:00-16:10</td>
	<td><a href='#session7'>Session 7</a></td>
      </tr>

      </tbody>
</table>

<section id='sessionO'><h4>FAUL Opening Session and Keynote</h4>
  <p>Chair: Francis Bond</p>
  
    <ul class='pg'>
      <li> <span>13:15-13:30</span>
	 <br> <a class= 'talk'>Welcome</a>,
	Joanna Sio

      <li> <span>13:30-14:30</span>,
	Frantisek Kratochvil and George Saad
	 <br> Keynote: <a class= 'talk' href="">Abui applicative constructions and their uses</a>
    </ul>

</section>

<section id='sessionW'><h4>FAUL Main Session</h4>
  <p>Chair: Joanna Sio</p>
  <ul class='pg'>
    <li><span>15:00–15:40</span>,  Manfred Sailer
      <span class='text-danger'>(online)</span>
      <br> <a class='talk' href = "">The social meaning of phonology: A formal modeling of the creole continuum in Hawai‘i Creole English</a>
      
    <li><span>15:40–16:20</span>, Pavel Astafiev
      <br> <a class= 'talk' href="">Definiteness via partitive specificity? A view from Abaza</a>

    <li><span>16:20–17:00</span>, Maria Berkovich
      <br> <a class= 'talk' href="">Accounting for Exceptives that form Strong NPIs: the Case of Chechen</a>
</ul>
</section>

<section id='session1'><h4>HPSG Session 1</h4>
  <p>Chair: </p>
  <ul class='pg'>
    <li> <span>9:15–09-30</span> <br> <a class= 'talk' href="">Welcome</a>, Francis Bond
    <li> <span>9:30–10:10</span>, Jieun Oh
      <br> <a class= 'talk' href="{{ url_for('static', filename='pdf/Jieun.Oh_A new account of the case-alternation in the complex predicate construction.pdf')}}">A new account of the case-alternation in the complex predicate construction</a>

    <li> <span>10:10–10:50</span>, János Litzinger
      <br> <a class= 'talk' href="">Hybrid Agreement in Bosnian/Croatian/Serbian</a>
    </ul>

</section>


<section id='session2'><h4>HPSG Session 2</h4>
  <p>Chair: </p>
  <ul class='pg'>
<li> <span>11:10–11:50</span>, Carly Crowther, Emily Luedke and Emily M. Bender
  <br> <a class= 'talk' href="">The morphological causative in Panará: A Grammar Matrix implementation</a>

<li> <span>11:50–12:30</span>, Petter Haugereid
            <span class='text-danger'>(online)</span>
  <br> <a class= 'talk' href="{{ url_for('static', filename='pdf/Haugereid.pdf') }}">Examining Delayed Complements in Norwegian within an Incremental Left-Branching Grammar Framework</a>
</ul>


</section>

<section id='session3'><h4>HPSG Session 3</h4>
  <p>Chair: </p>
  <ul class='pg'>
    <li> <span>14:00–15:00</span>, Dan Flickinger
      <br> Keynote:  <a class= 'talk' href="">Implementing a theory at scale: the English Resource Grammar at 30</a>
  </ul>
  

</section>

<section id='session4'><h4>HPSG Session 4</h4>
  <p>Chair: </p>
  <ul class='pg'>
    <li> <span>15:20–16:20</span>, Berke Şenşekerci
      <br> <a class= 'talk' href="{{ url_for('static', filename='pdf/Sensekerci.pdf') }}">Gradient HPSG</a>
    <li> <span>16:20–17:00</span>, Manfred Sailer
      <span class='text-danger'>(online)</span>
      <br> <a class= 'talk' href="">Horn clauses and strict NPIs under negated matrix clauses</a>
  </ul>


</section>

<section id='session5'><h4>HPSG Session 5</h4>
  <p>Chair: </p>
  <ul class='pg'>
    <li> <span>9:30–10:10</span>, Giuseppe Varaschin, Antonio Machicao Y Priemer and Yanru Lu
      <br> <a class= 'talk' href="">Topic drop in German: Grammar and usage</a>

    <li> <span>10:10–10:50</span>, Francis Bond and Joanna Ut-Seong Sio
      <br> <a class= 'talk' href="">A construction-based approach to Cantonese classifiers</a>
  </ul>

</section>


<section id='session6'><h4>HPSG Session 6</h4>
  <p>Chair: </p>
  <ul class='pg'>
    <li> <span>11:10–11:50</span>, Gabrielle Aguila-Multner and Berthold Crysmann
      <br> <a class= 'talk' href="">The morphology of trapping and climbing in French causatives</a>
    <li> <span>11:50–12:30</span>, Jakob Maché and João Azevedo
      <br> <a class= 'talk' href="">Between shared expectations and possibilities with discourse particles in European Portuguese -- the case of <u>sempre</u></a>
      
</ul>


</section>

<section id='session7'><h4>HPSG Session 7</h4>
  <p>Chair: </p>
  <ul class='pg'>
    <li> <span>14:00–14:40</span>, Chenyuan Deng
      <br> <a class= 'talk' href="">An HPSG account for German numeral classifiers</a>

    <li> <span>14:40–15:30</span>, Sara Grzelak and Mark Hepple
            <span class='text-danger'>(online)</span>
      <br> <a class= 'talk' href="">Composition-based analysis of German three-verb clusters</a>


    <li> <span>15:30–16:10</span>, Robert D. Borsley and Abeer Alsulami
      <br> <a class= 'talk' href="">On exhaustive conditional clauses in Modern Standard Arabic</a>
  </ul>
  
</section>


      
    </div>
{% endblock %}
