{% extends 'layout.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">

      <div class="container">

	<h2>Registration</h2>


	<p><a href='https://forms.gle/rS5NVa7xcG7RUyKr9'>Please register here.</a>

	<p>The workshop is free!

	<p>The conference costs 1500 Czech Crowns or 80 Euros, payable
	in cash when you arrive.  Please have the exact amount if
	possible. 

	<p> Virtual attendance is free, but please register so we have
	an idea of numbers.  However, we encourage you to come and
	visit us in Olomouc.
	  
      </div>


      
    </div>
{% endblock %}
