{% extends 'layout.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">

      <div class="container">

	<h2 style="text-align: center" >Workshop on Formal Approaches<br> to Under-resourced Languages
	  <br><br>8 July, 2024
	  <br><br>Final Call for Papers</h2>
<br>
<h3>Submission Deadline: 22nd-March-2024 **extended**</h3>
<br>
<p>The workshop “Formal Approaches to Under-resourced Languages” is part of the <a href="{{ url_for('show', page='index') }}">HPSG 2024 Conference</a>. The aim of the workshop is to promote interdisciplinary and cross-language discussion on approaches to formal linguistic analyses of under-resourced languages. We strongly encourage researchers from outside the HPSG framework (such as LFG, GF, and minimalism) to submit. We take an open perspective to the definition of a “under -resourced language,” acknowledging that this designation is both imperfect and often the result of many contributing factors. Possible topics include, but are not limited to syntactic/semantic analysis, development of language resources with annotations beyond the word level (treebanks, propbanks, discourse annotations, etc.), and especially involvement of the communities speaking those languages in the process of linguistic analysis.</p>


<h3>Submissions</h3>
<p>We invite anonymous submissions to the
  workshop:
  <ul>
    <li>Papers (extended abstracts) should be 4 pages long, + 1 page for
data, figures &amp; references. 
    <li>
      They should be submitted in PDF
format. 
    <li>
      The submissions should not include the authors’ names, and
authors are asked to avoid self-references. 
    <li>
      All abstracts should be
submitted via Easychair:</p>
<p><a href="https://easychair.org/conferences/?conf=faul2024" target="_blank"><font color="#1155cc">https://easychair.org/conferences/?conf=faul2024</font></a></p>

	<p>All abstracts will be reviewed anonymously by at least two
reviewers. Accepted papers are expected to give a 30-minute
presentation. Additionally, 10 minutes are reserved for discussion. A
call for contributions to the proceedings will be issued after the
Conference. Proceedings of previous conferences are available
at:&nbsp;<a href="https://proceedings.hpsg.xyz/"
	    target="_blank"><font color="#1155cc">https://proceedings.hpsg.xyz/</font></a>.
	</p>
	
<h3>Important Dates</h3>
<p>
<table>
  <tr>
    <td>Abstract submission deadline</td>
    <td>15 March 2024</td>
    <td>(anywhere on Earth)</td>
  </tr>
  <tr>
    <td>Notifications of acceptance</td>
    <td>19 April 2024</td>
  </tr>
  <tr>
    <td>Conference proceedings submission</td>
    <td>15 October 2024</td>
  </tr>
</table>
</p>
	<h3>Venue</h3>
	<p>The workshop will take
	  place at Palacký University Olomouc, Czech Republic.
	  Online access for the sessions and asynchronous discussion will be facilitated for those who will not be able to attend in person.
	</p>
	<p>The workshop
	  website is at: <a href="{{ url_for('show', page='workshop') }}">https://bond-lab.github.io/2024-hpsg/workshop.html</a></p>

	<h3>Program Committee Chair</h3>
	<p>Joanna Sio (Palacký University, Olomouc)</p>


	<h3>Local Organizing Committee Chair</h3>
	<p>Francis Bond (Palacký University, Olomouc)</p>


	<h3>Contact information</h3>

	<p>For any questions,  please contact
	  the chair, Joanna Sio <a href='mailto:joannautseong.sio@upol.cz'>joannautseong.sio@upol.cz</a></p>
      
    </div>
{% endblock %}

