{% extends 'layout.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">

      <div class="container">

	<h2>Formal Approaches to Under-resourced
Languages</h2>

	
	<p>Location: Palacký University

	<p>Date: July 08, 2024

	<p>Program Chair: Joanna Sio
  
	  
<p>The aim of the workshop is to promote interdisciplinary and
cross-language discussion on approaches to formal linguistic analyses
of under-resourced languages. We strongly encourage researchers from
outside the HPSG framework (such as LFG, GF,  and minimalism) to submit.
We take an open perspective to the definition of a “under-resourced
language,” acknowledging that this designation is both imperfect and
often the result of many contributing factors.

	  
<p>Possible topics include, but are not limited to syntactic/semantic
analysis, development of language resources with annotations beyond
the word level (treebanks, propbanks, discourse annotations, etc.),
and especially involvement of the communities speaking those languages
in the process of linguistic analysis.   

The workshop immediately precedes the <i><a href='{{ url_for('show', page='index') }}'>31st Conference on 
	  Head-Driven Phrase Stucture Grammar</a></i> and is co-located with it.
	  

      </div>


      
    </div>
{% endblock %}
	  

